@model CryptocurrencyExchange.App.ViewModels.CoinViewModel

@{
    ViewData["Title"] = "Coin";
}

<h1>Coin</h1>

<p>@Model.Id</p>
<p>@Model.Symbol</p>
<p>@Model.Name</p>
<p>@Model.Nameid</p>
<p>@Model.Rank</p>
<p>@Model.PriceUsd</p>
<p>@Model.PercentChange24h</p>
<p>@Model.PercentChange1h</p>
<p>@Model.PercentChange7d</p>
<p>@Model.MarketCapUsd</p>
<p>@Model.Volume24</p>
<p>@Model.Volume24Native</p>
<p>@Model.Csupply</p>
<p>@Model.PriceBtc</p>
<p>@Model.Tsupply</p>
<p>@Model.Msupply</p>
